.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #000;
  width: 500px;
}

.wrapper > div {
  border: 1px solid #000;
  padding: 3em;
  background: #f90;
  height: 30px;
}

.input {
  color: #000;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
